.navContainer {
  width: 100%;
  height: 60px;
  border: 1px solid rgb(232, 232, 232);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  .nav {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    .links {
      width: 200px;
      font-family: system-ui;
      font-size: 14px;
      text-decoration: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    .input {
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgb(155, 153, 153);
      .navInput {
        border: none;
        border-radius: 30px;
        overflow: hidden;
        font-size: 12px;
        line-height: 30px;
        padding-left: 10px;
      }
      .inpImg {
        margin-right: 10px;
        width: 25px;
        height: 25px;
      }
    }
  }
}
@media  screen and (max-width:1200px) {
    .G_Container{
      max-width: 1140px;
    }
}
