@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital@1&display=swap');

.mainTitle{
    display: flex;
    justify-content: space-between;
    // align-items: left;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding-top: 50px;
    .firstTitle{
        font-family: 'Righteous',cursive ;
        font-size: 40px;
    }
    .secondTitle{
        padding-top: 20px;
        font-family:system-ui;
        font-weight: 100;
        font-size: 20px;
    }
}
@media  screen and (max-width:1200px) {
    .mainTitle{
        max-width: 100%;
        width: 1140px;
    }
}
@media  screen and (max-width:1000px) {
    .mainTitle{
        max-width: 100%;
        width: 800px;
    }
}
@media  screen and (max-width:767px) {
    .mainTitle{
        max-width: 100%;
        width: 767px;
    }
}
@media  screen and (max-width:576px) {
    .mainTitle{
        max-width: 100%;
        width: 576px;
    }
}