.footerContainer{
    font-weight: 400;
    font-size: 12.8px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 70px;
    padding-top: 30px;
}
@media  screen and (max-width:1200px) {
    
}