.firstPageContainer {
  width: 100%;
  height: max-content;
  .cont {
    background-color: white;
    margin: 30px auto;
    width: 760px;
    height: 700px;
    border-radius: 5px;
    box-shadow: 0 0.7px 1px 0.2px rgb(114, 113, 113);
    background-size: cover;
    border-color: aqua;
    .contName {
      margin: 0 auto;
      width: 99%;
      padding: 20px 0 0 20px;
      height: max-content;
      text-align: left;
      h2 {
        color: #000000cc;
        font-size: 21px;
        &:hover {
          color: #303030cc;
        }
      }
      span {
        color: #00000070;
        margin: 0 0 8px 0;
        margin-top: 10px;
      }
    }
  }
  .contIMG {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0 0;
  }
  .footerCont {
    width: 100%;
    height: 90px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0.5px 0 0 rgb(114, 113, 113);

    .avatarAndDesc {
      width: 300px;
      height: 60px;
      display: flex;
      justify-content: space-evenly;
    }
    .avatarIcon {
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }
    .profileInfo {
      width: max-content;
      height: max-content;
    }
    .saveIcon {
      width: 25px;
      height: 28px;
      margin-right: 20px;
    }
  }
}
